


  <%= link_to "", projects_path, :class => 'logo' %>
  <div id="process-nav-group">
    <span id="brainstorm-link" class="process-nav-background"><p class="process-link-text">Ideas</p></span>
    <span id="prototype-link" class="process-nav-background"><p class="process-link-text">Concepts</p></span>
    <span id="design-link" class="process-nav-background"><p class="process-link-text">Designs</p></span>
  </div>

<% if user_signed_in? && current_user.id == @project.user_id %>
  <%= render :partial => 'private' %>
<% else %>
  <%= render :partial => 'public' %>
<% end %>





<script>
$( document ).ready(function() {
var $container = $('#masonry-container, #masonry-container2, #masonry-container3');

$container.imagesLoaded( function(){
  $container.masonry({
    itemSelector : '.note-box'
  });
});

$('.hidden-section').hide();
$('.note-area').show();
$('#brainstorm-link').addClass('process-nav-group-selected');

$('#brainstorm-link').click(function(){
  $('.hidden-section').hide();
  $('.note-area').show();
  $('#process-nav-group span').removeClass('process-nav-group-selected');
  $('#brainstorm-link').addClass('process-nav-group-selected');
  var $container = $('#masonry-container, #masonry-container2, #masonry-container3');

$container.imagesLoaded( function(){
  $container.masonry({
    itemSelector : '.note-box'
  });
});

});

$('#prototype-link').click(function(){
  $('.hidden-section').hide();
  $('.prototype-area').show();
  $('#process-nav-group span').removeClass('process-nav-group-selected');
  $('#prototype-link').addClass('process-nav-group-selected');
  var $container = $('#masonry-container, #masonry-container2, #masonry-container3');

$container.imagesLoaded( function(){
  $container.masonry({
    itemSelector : '.note-box'
  });
});
});

$('#design-link').click(function(){
  $('.hidden-section').hide();
  $('.design-area').show();
  $('#process-nav-group span').removeClass('process-nav-group-selected');
  $('#design-link').addClass('process-nav-group-selected');
  var $container = $('#masonry-container, #masonry-container2, #masonry-container3');

$container.imagesLoaded( function(){
  $container.masonry({
    itemSelector : '.note-box'
  });
});
});

});



</script>
