// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.project-header {
	margin-top: 50px;
	font-family: 'Muli', helvetica, sans-serif;
	float: left;
	margin-left: 10px;
	font-size: 20px;
	clear:right;
	color: #ffffff;
}

.input-project-header {
	font-family: 'Muli', helvetica, sans-serif;
	float: left;
	font-size: 20px;
	color: #000000;
	margin-top: -5px;
}

.project-detail {
	margin-top: 20px;
	margin-left: 10px;
	font-family: 'Muli', helvetica, sans-serif;
	float: left;
	color: #ebebeb;
	font-size: 16px;
	clear:left;
}

.notes-content-wrapper {
	float: left;
	position: relative;
	margin-top: 20px;
	margin-left: 0px;
	clear: left;
	width: 83%;
}

.add-note-text-field {
	margin-left: 10px;
	margin-top: 20px;
}

.add-note-area {
	width: 500px;
	height: 91px;
	position: absolute;
	right: 10px;
	top: 0px;
	background: rgba(245,245,245,0.2);
}

.note-box {
	float: left;
	width: 215px;
	background: #e0e0e0;
	margin: 10px;
	padding: 10px 5px 10px 20px;
}

.add-note-text-field {
	margin-top: 10px;
	width: 140px;
}

.note-name {
	font-size: 15px;
	width: 200px;
	margin-top: 5px;
	font-family: 'Muli', helvetica, sans-serif;
}

.add-note-img-field {
	width: 280px;
	height: 40px;
}

.add-note-button-bk {
	background: #ffffff;
}

.note-image {
	margin-top: 5px;
	width: 200px;
}

.note-submit-btn {
	position: absolute;
	bottom: -2px;
	right: 10px;
	width: 200px;
	background: #d0d0d0;
	padding: 10px;
	cursor: pointer;
	border: none;
	font-weight: bold;
}

.note-edit-link {
	margin-top: 10px;
}

#add-link-box {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	z-index: 10;
	background: url('/assets/add-notes-btn.png') no-repeat;
	border: 3px solid #ffffff;
}

#add-link-box:hover {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 10;
	background: url('/assets/add-notes-btn-hover.png') no-repeat;
	cursor: pointer;
	border: 3px solid #ffffff;
}

.poyichen-link {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

::-webkit-input-placeholder {
	padding-top: 3px;
	padding-left: 5px;
	font-size: 16px;
	color: #dcdcdc;

}

:-moz-placeholder { /* Firefox 18- */
	padding-top: 3px;
	padding-left: 5px;
	font-size: 16px;
	color: #dcdcdc;
}

::-moz-placeholder {  /* Firefox 19+ */
   padding-top: 3px;
	padding-left: 5px;
	font-size: 16px;
	color: #dcdcdc;
}

:-ms-input-placeholder {  
   padding-top: 3px;
	padding-left: 5px;
	font-size: 16px;
	color: #dcdcdc;
}

#process-nav-group {
	position: absolute;
	top: 100px;
	right: 10px;
	width: 50px;
}


.process-link-text {
	text-align: center;
	color: #e9e9e9;
	padding: 10px;
	font-family: 'Muli', helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.process-nav-background:hover {
	float: right;
	width: 90px;
	height: 40px;
	margin-top: 10px;
	background: #cccccc;
	cursor: pointer;
}

.process-nav-background {
	float: right;
	width: 80px;
	height: 40px;
	margin-top: 10px;
	background: #969696;
	cursor: pointer;
}


.process-nav-group-selected {
	float: right;
	width: 90px;
	height: 40px;
	margin-top: 10px;
	color: #ffffff;
	background: #424242;
}

.add-project-link {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #ffffff;
	font-size: 16px;
}

.project-intro-header {
	margin-top: 50px;
}

.project-intro-header p{
	font-family: 'Muli', helvetica, sans-serif;
	font-size: 20px;
	color: #ffffff;
}

.user-nav-bar {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #ffffff;
}

.project-item-name {
	margin-top: 40px;
}

.project-item-name a{
	font-family: 'Muli', helvetica, sans-serif;
	font-size: 18px;
	color: #eaeaea !important;
	text-decoration: none;
}

.project-item-name a:hover{
	font-family: 'Muli', helvetica, sans-serif;
	font-size: 18px;
	color: #eaeaea !important;
	background: #464646;
	text-decoration: underline;
}

.project-item-detail p{
	font-family: 'Muli', helvetica, sans-serif;
	font-size: 14px;
	margin-top: 10px;
	color: #b8b8b8 !important;
}