// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.project-header {
	margin-top: 25px;
	font-family: 'Muli', sans-serif;
	float: left;
	font-size: 20px;
	clear:right;
	color: #ffffff;
}

.input-project-header {
	font-family: 'Muli', sans-serif;
	float: left;
	font-size: 20px;
	color: #000000;
	width: 600px;
	margin-top: -5px;
}

.project-detail {
	margin-top: 20px;
	font-family: 'Muli', sans-serif;
	float: left;
	color: #ebebeb;
	font-size: 16px;
	clear:left;
}

.notes-content-wrapper {
	float: left;
	position: relative;
	margin-top: 20px;
	margin-left: 0px;
	clear: left;
	width: 80%;
}

.add-note-text-field {
	margin-left: 10px;
	margin-top: 20px;
}

.add-note-area {
	width: 500px;
	height: 91px;
	position: absolute;
	right: 10px;
	top: 0px;
	background: rgba(245,245,245,0.2);
}

.note-box {
	float: left;
	width: 215px;
	background: #e0e0e0;
	margin: 10px;
	padding: 10px;
}

.add-note-text-field {
	margin-top: 10px;
	width: 140px;
}

#note_name {
	font-size: 14px;
}

.add-note-img-field {
	width: 280px;
	height: 40px;
}

.add-note-button-bk {
	background: #ffffff;
}

#note_image {
	margin-left: 15px;
	margin-top: 5px;
	width: 280px;
}

.note-submit-btn {
	position: absolute;
	bottom: -2px;
	right: 10px;
	width: 200px;
	background: #d0d0d0;
	padding: 10px;
	cursor: pointer;
	border: none;
	font-weight: bold;
}

.note-name {
	font-size: 14px;
}

.note-edit-link {
	margin-top: 10px;
}

#add-link-box {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	z-index: 10;
	background: url('/assets/add-notes-btn.png') no-repeat;
	border: 3px solid #ffffff;
}

#add-link-box:hover {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 10;
	background: url('/assets/add-notes-btn-hover.png') no-repeat;
	cursor: pointer;
	border: 3px solid #ffffff;
}

#masonry-container {
  background: #464646;
  padding: 5px;
  margin-bottom: 20px;
  clear: both;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

::-webkit-input-placeholder {
	padding-top: 3px;
	padding-left: 5px;
	font-size: 16px;
	color: #dcdcdc;

}

:-moz-placeholder { /* Firefox 18- */
	padding-top: 3px;
	padding-left: 5px;
	font-size: 16px;
	color: #dcdcdc;
}

::-moz-placeholder {  /* Firefox 19+ */
   padding-top: 3px;
	padding-left: 5px;
	font-size: 16px;
	color: #dcdcdc;
}

:-ms-input-placeholder {  
   padding-top: 3px;
	padding-left: 5px;
	font-size: 16px;
	color: #dcdcdc;
}